@{
    @model RealTimeStockSimulator.Models.MultiOwnership
    @using static RealTimeStockSimulator.Models.Helpers.StringFormatter
    @using System.Text.Json
    @using RealTimeStockSimulator.Extensions

    ViewData["title"] = "Users";
}

<partial name="_Navbar" />

<main class="w-75 mx-auto">
    <h1>
        Users
    </h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    User ID
                </th>
                <th>
                    Username
                </th>
                <th>
                    Portfolio value
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (Ownership ownership in Model.Ownerships)
                {
                    <tr>
                        <td>
                            @ownership.User.UserId
                        </td>
                        <td>
                            @ownership.User.UserName
                        </td>
                        <td class="TotalOwnershipValueOfUser-@ownership.User.UserId">
                            $@FormatDecimalPrice(ownership.GetTotalValue(Model.TradablesDictionary))
                        </td>
                        <td>
                            <a href="/Users/Portfolio?UserId=@ownership.User.UserId">View portfolio</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <style>
        table {
            width: 100%;
            table-layout: fixed;
            border-collapse: collapse;
        }

        /* Turn tbody into a flex container */
        .flex-tbody {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        /* Make header and rows flex rows */
        thead tr,
        .flex-tbody tr {
            display: flex;
            width: 100%;
        }

        /* Column alignment */
        thead th,
        .flex-tbody td {
            flex: 1 1 0;
        }

        /* Smooth reordering */
        .flex-tbody tr {
            transition: transform 0.3s ease;
        }

        /* Ordering */
        .order-1 {
            order: 1;
        }

        .order-2 {
            order: 2;
        }

        .order-3 {
            order: 3;
        }

        .order-4 {
            order: 4;
        }

        .order-5 {
            order: 5;
        }


    </style>
    <table class="table">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Amount</th>
            </tr>
        </thead>

        <tbody class="flex-tbody">
            <tr class="order-1"><td>AAPL</td><td>10</td></tr>
            <tr class="order-3"><td>TSLA</td><td>5</td></tr>
            <tr class="order-2"><td>MSFT</td><td>12</td></tr>
        </tbody>
    </table>
</main>

<partial name="_Footer" />

<script src="~/js/Leaderboard.js"></script>
<script>
    let multiOwnershipJson = @Html.Raw(JsonSerializer.Serialize(Model, new JsonSerializerOptions { IncludeFields = true}));
</script>
<partial name="_MarketConnectionScripts" />