<div class="alert alert-success @(TempData["ConfirmationMessage"] == null ? "d-none" : "")" id="successAlert" role="alert">
    @(TempData["ConfirmationMessage"] != null ? TempData["ConfirmationMessage"] : "")
</div>
