@{
    @model RealTimeStockSimulator.Models.Tradable
    @using static RealTimeStockSimulator.Models.Helpers.ImageEncoder
}

<td>
    <img class="tradable-img" src="data:image/jpeg;base64,@(Model.Image != null ? GetBase64StringFromImageBytes(Model.Image) : "")" alt="Logo of @Model.Symbol" />
    <span class="ps-1">@Model.Name</span>
</td>
