@{
    @model RealTimeStockSimulator.Models.MarketTransactions
    @inject RealTimeStockSimulator.Models.Interfaces.IStringFormatter stringFormatter

    ViewData["title"] = "Transactions";
}

<partial name="_Navbar" />

<main class="w-75 mx-auto">
    <h1>
        Transactions
    </h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Symbol
                </th>
                <th>
                    Price
                </th>
                <th>
                    Status
                </th>
                <th>
                    Amount
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach(MarketTransactionTradable transaction in Model.Transactions)
                {
                    <tr>
                        <td>
                            @transaction.Tradable.Symbol
                        </td>
                        <td>
                            $@stringFormatter.FormatDecimalPrice(transaction.Price)
                        </td>
                        <td>
                            @transaction.Status
                        </td>
                        <td>
                            @transaction.Amount
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</main>

<partial name="_Footer" />