@{
    @model RealTimeStockSimulator.Models.ViewModels.LoginViewModel

    ViewData["title"] = "Login";
}

<partial name="_ConfirmMessage" />
<partial name="_ErrorMessage" />

<form method="post" action="/Authentication/LoginIntoAccount">

    <label for="username">Username:</label>
    <input type="text" id="username" name="username" placeholder="Your username" required value="@Model?.UserName"/>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" placeholder="Your password" required value="@Model?.Password" />

    <input type="submit" value="Login"/>
</form>